{% extends 'main.twig' %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
          <a href="/public/admin" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-chevron-left"></span>Tillbaka</a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
          <h2>{{ employee.fname }} {{ employee.sname }}</h2>
        </div>
      </div>
    </div>
  </div>
  {% include 'account/histogram.twig' %}
  <div class="container">
    <div class="well">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Instämpling</th>
          <th>Utstämpling</th>
          <th>Antal Timmar</th>
        </tr>
        </thead>
        <tbody>
        {% for shift in shifts %}
          <tr>
            <td>{{ shift.startTime }}</td>
            <td>{{ shift.endTime }}</td>
            <td>{{ shift.hours }}:{{ shift.minutes }}h</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}