{% extends 'main.twig' %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h2>{{ user.fname }} {{ user.sname }}s stämpelpanel</h2>
    </div>
  </div>
  <div class="container">
    <div class="well">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Instämpling</th>
          <th>Utstämpling</th>
          <th>Antal Timmar</th>
        </tr>
        </thead>
        <tbody>
        {% for shift in shifts %}
          <tr>
            <td>{{ shift.startTime }}</td>
            <td>{{ shift.endTime }}</td>
            <td>{{ shift.hours }}:{{ shift.minutes }}h</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}